.checkout{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    height: max-content;
    margin: 20px 14px;
}
.checkout_left{
    width: 100%;
    margin-right: 10px;

}
.checkout_title1{
    padding-left: 10px;
}
.checkout_title2{
    padding: 10px;
    border-bottom: 1px solid lightgray;
}